.card {
    height: auto;
    max-height: 400px;
    width: 700px;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: flex-start;
    overflow: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  
.card::-webkit-scrollbar {
    display: none;
}

.user-details {
    display: flex;
    flex-direction: row;
}


.left-column {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 5px;
    flex: 1
}

.right-column {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    flex: 2
}

.image {
    width: 100px; /* adjust the width of the image */
    height: 100px; /* adjust the height of the image */
    border-radius: 50%; /* make the image circular */
    object-fit: cover; /* prevent image distortion */
    margin-bottom: 10px; /* add spacing between the image and bio */
}