<div *ngIf="userData">
    <p>username: {{ userData.username }}</p>
    <p>name: {{ userData.name }}</p>
    <p>location: {{ userData.location }}</p>
    <p>titles: {{ userData.titles }}</p>
    <p>fav language: {{ userData['favorite-language'] }}</p>
    <p>total stars: {{ userData['total-stars'] }}</p>
    <p>highest star count: {{ userData['highest-starred'] }}</p>
    <p>public repos: {{ userData['public-repos'] }}</p>
    <p>perfect repos: {{ userData['perfect-repos'] }}</p>
    <p>followers: {{ userData.followers }}</p>
    <p>following: {{ userData.following }}</p>
</div>
