
<div class="card">
    <!-- <p *ngIf="winner">The winner is: {{ winner }}</p> -->
    <div *ngIf="userData" class="user-details">
        <div class="left-column">
            <img class='image' [src]="userData.avatar_url" />
            <p>{{ userData.bio }}</p>
        </div>
        <div class="right-column">
            <div class="data-card">
                <p class="data-label">username </p>
                <p class="data-text"> {{ userData.username }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">location </p>
                <p class="data-text"> {{ userData.location }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">titles </p>
                <p class="data-text"> {{ userData.titles.join(', ') }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">fav language </p>
                <p class="data-text"> {{ userData['favorite-language'] }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">total stars </p>
                <p class="data-text"> {{ userData['total-stars'] }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">highest star count </p>
                <p class="data-text"> {{ userData['highest-starred'] }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">public repos </p>
                <p class="data-text"> {{ userData['public-repos'] }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">perfect repos </p>
                <p class="data-text"> {{ userData['perfect-repos'] }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">followers </p>
                <p class="data-text"> {{ userData.followers }}</p>
            </div>     
            <div class="data-card">
                <p class="data-label">following </p>
                <p class="data-text"> {{ userData.following }}</p>
            </div>     
        </div>
    </div>
</div>

